<div class="accordion-content">
    <div class="ahead finegrid">
        <p class="ref">
            <span class="uppercase hide block phead">Ref. No.</span>
            <span><%= data?.reference_no %></span>
        </p>
        <p class="pro">
            <span class="uppercase hide block phead">name of work</span>
            <span><%= data.deal_name %></span>
        </p>
        <p class="emp_date">
            <span class="uppercase hide block phead">location</span>
            <span><%= data.city %></span>
        </p>
        <p class="totalf">
            <span class="uppercase hide block phead">project amount</span>
            &#8377;<span><%= data.total_amount %></span>/-
        </p>
        <%  const rAmount = 100 %>
        <p class="totalf none" onclick="openDick({dealid:<%= data.fid %>})">&#8377;<span><%= data.amount_get %></span>/-
        <span class="maka">Received</span></p>
        <p class="totalf none">&#8377;<span><%= data?.total_amount - data.amount_get %></span>/-</p>
        <p class="arrow-down">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-down"
                class="svg">
                <path fill="##000000"
                    d="M11.29,11.46a1,1,0,0,0,1.42,0l3-3A1,1,0,1,0,14.29,7L12,9.34,9.71,7A1,1,0,1,0,8.29,8.46Zm3,1.08L12,14.84l-2.29-2.3A1,1,0,0,0,8.29,14l3,3a1,1,0,0,0,1.42,0l3-3a1,1,0,0,0-1.42-1.42Z">
                </path>
            </svg>
        </p>
    </div>
    <!-- ----------open data for accordion---------- -->
    <div class="adata data">
        <div class="finance_expand">
            <!-- --INSTALLMENT-- -->
            <div class="installment flex">
                <div class="field">
                    <p class="uppercase">Installment no.</p>
                    <p>1</p>
                </div>
                <div class="field">
                    <p class="uppercase">amount</p>
                    <p>10,000</p>
                </div>
                <div class="field">
                    <p class="uppercase">Date</p>
                    <p>10/04/2024</p>
                </div>
            </div>
            <!-- ---------------  -->
        </div>
    </div>
</div>